*,
*:after,
*::before {
    box-sizing: border-box;
}

// Take out padding for container-fluid
.container-fluid {
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: black;
}

.App {
/*  */
}

.app{
    padding: 0px 10px;
}

.app h1{
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}