.wrapper{
    margin-bottom: 120px;
}
.featuresContainer{
    background-color: #141414;
    border-bottom: 2px solid #3d3d3d;
    .featuresNav {
        padding: 35px 0 0 0;
        width: 80%;
        cursor: pointer;
        margin: 0 auto;
        display: flex;
    }
    a {
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        color: #777;
        height: 125px;
        line-height: 20px;
        display: block;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        &:hover {
            color: white;
            svg {
                fill: white;
            }
        }
        h2 {
            margin: 10px 0 0;
            font-size: 1em;
        }
        svg {
            fill: #777;
        }
        .selected {
            color: white;
            fill: white;
        }
    }
}    

.selectedspan{
    padding: 15px 0 0 0;
    display: block;
    border-bottom: 5px solid #e50914;
}

@media (max-width: 900px) {
    svg {
        width: 100%;
        height: 34px;
    }
    .selectedspan{
        padding: 30px 0 0 0;
    }
}
