.login-body{
    margin: 0 auto -236px;
    min-height: 100vh;
    background-color: black;
    opacity: 0.9;
    max-width: 450px;
    color: #fff;
    padding: 50px 68px 30px 68px;
}

.login-body div .login-content h1{
    margin: 0
}

