nav{
    height: 90px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    .img{
        width: 114px;
        height: 56px;
        vertical-align: middle;
    }
}
.Nlogo {
    width: 114px;
    height : 45px;
    vertical-align: middle;
}
.pull-left img{
    width: 30px;
    margin-top: 20px;
}
.navbar{
    height: 56px;
}
.navLinks {
    color: #fff !important;
}
.logo {
    display: inline-block;
    line-height: 90px;
    margin: 0 0 0 3%;
}
.signInButton{
    color: white;
    background-color: #e50914;
    margin: 18px 3% 0 0;
    padding: 7px 17px;
    font-weight: 100;
    border: transparent;
    border-radius: 3px;
    font-size: 16px;
    text-decoration: none;
    line-height: normal;
    float: right;
    cursor: pointer;
    text-decoration: none;
}

.signInButton:hover{
    color: #fff;
    background-color: #E53935;
    text-decoration: none;
}
.search-bar{
    display: inline-block;
    float: right;
    padding: 22px;
}
.search-input{
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.85);
    font-size: 14px;
    width: 360px;
    padding: 7px 14px 7px 7px;
    outline: none;
}
.search-values{
    width: 360px;
    padding: 10px;
    height: auto;
    overflow: hidden;
    position: absolute;
    border-radius: 8px;
    background: #fff;
    z-index: 99;
}
.search-values .search-item{
    height: 88px;
    width: 100%;
    margin: 0 0 8px;
    overflow: hidden;
    position: relative;
    background: #fff;
    border: 1px solid #eee;
    padding: 0;
    display: block;
    opacity: 1;
}
 
.search-values .search-item .thumbnail-container{
    width: 156px;
    min-width: 156px;
    height: 88px;
    max-height: 88px;
    display: inline-block;
    text-transform: none;
    overflow: hidden;
    float: left;
}

.search-values .search-item .thumbnail-container .card-img-container img{
    width: 100%;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-values .search-item .search-wrap{
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 16px;
    color: #212121;
    margin: 0;
    padding: 10px;
}

.search-values .search-item .search-wrap .meta-wrapper{
    position: absolute;
    left: 158px;
    padding: 0 10px;
    line-height: normal;
    font-weight: 400;
}

.search-values .search-item .search-wrap .meta-wrapper .title{
    padding-bottom: 2px;
    width: 100%;
}

@media (max-width: 1000px){
    nav img{
        width: 102px;
    }
    .logo{
        line-height: 72px;
    }
}

@media(max-width: 400px){
    .search-Bar{
        display: none;
    }
    .Nlogo{
        width: 60px;
    }
    .navLinks{
        font-size: 14px;
    }
    .signoutTab{
        font-size: 14px;
    }
}